* {
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  align-items: center;
  background: #19132fcb;
  color: rgb(164, 185, 202);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
}

label {
  font-family: 'Press Start 2P', sans-serif;
  font-size: smaller;
}

h1, h4 {
  text-shadow: rgb(0, 0, 0);
  color: rgb(185, 22, 169);
  padding: 1%;
}
p {
  font-size: .7em;
  padding: 1px;
}

.side {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}

.title, .score, .level, .controls, .sound {
  border: 5px solid rgb(212, 161, 218);
  border-radius: 2px;
  padding: 1%;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin: 2%;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: rgb(243, 33, 222);
}
input:focus + .slider {
  box-shadow: 0 0 1px rgb(111, 60, 121);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
